In [1]:
import pandas as pd

In [2]:
_5year_excel = pd.ExcelFile('5年版本.xlsx')   # pd.read_excel('5年版本.xlsx')
_6year_excel = pd.ExcelFile('6年版本.xlsx')

In [4]:
# show sheet name
print(_5year_excel.sheet_names)
print(_6year_excel.sheet_names)

# head()

['WRDS', 'Duality']
['工作表2', 'FINAL', '工作表1']

In [5]:
# read sheet to data frame
_5df = pd.read_excel(_5year_excel, 'WRDS')
_6df = pd.read_excel(_6year_excel, '工作表2')

In [6]:
# show sheet
_5df.head(1)

,Global Company Key,Data Date,Data Year - Fiscal,Industry Format,Level of Consolidation - Company Annual Descriptor,Population Source,Data Format,Ticker Symbol,CUSIP,Company Name,...,Price Close - Annual - Calendar,City,GIC Industries,Standard Industry Classification Code,S&P Industry Sector Code,Market Value,Total assets,Tobin's Q,ROA,Leverage
0,1004,20140531,2014.0,INDL,C,D,STD,AIR,361105,AAR CORP,...,28.01,Wood Dale,201010.0,5080.0,110.0,1108.0756,2199.5,0.503785,0.033144,0.288247

In [7]:
_6df.head(1)

,Data Year - Fiscal,Ticker Symbol,Tobin's Q,ROA,Industry,Board Size (log),Directors outside %,Board ownership,Board Meetings (log),CEO duality,Firm Size (log),Firm Age (log),Leverage
0,2014,AIR,0.503785,0.064833,Wholesale Trade,1.041393,0.818182,0.06918,0.69897,1,3.342324,1.792392,0.288247

In [8]:
# vlookup

# ex: keyword "AAR CORP"
filt = (_5df['Company Name'] == 'AAR CORP')

# show "Company Name" that's 'AAR CORP'
show_col = ['Data Year - Fiscal', 'Company Name', 'Market Value']  # show only these columns
_5df.loc[filt, show_col]

   Data Year - Fiscal Company Name  Market Value
0              2014.0     AAR CORP    1108.07560
1              2015.0     AAR CORP     984.05094
2              2016.0     AAR CORP     907.39935
3              2017.0     AAR CORP    1135.39970
4              2018.0     AAR CORP    1363.99164

In [9]:
# clean row
AAR_df = _5df.loc[filt, show_col]
print(AAR_df)
AAR_df.drop(2)

   Data Year - Fiscal Company Name  Market Value
0              2014.0     AAR CORP    1108.07560
1              2015.0     AAR CORP     984.05094
2              2016.0     AAR CORP     907.39935
3              2017.0     AAR CORP    1135.39970
4              2018.0     AAR CORP    1363.99164

   Data Year - Fiscal Company Name  Market Value
0              2014.0     AAR CORP    1108.07560
1              2015.0     AAR CORP     984.05094
3              2017.0     AAR CORP    1135.39970
4              2018.0     AAR CORP    1363.99164

In [10]:
# clean row 
filt= ~(_5df['Data Year - Fiscal'] == 2017.0) & (_5df['Company Name'] == 'AAR CORP')
AAR_df = _5df.loc[filt, show_col]
AAR_df

   Data Year - Fiscal Company Name  Market Value
0              2014.0     AAR CORP    1108.07560
1              2015.0     AAR CORP     984.05094
2              2016.0     AAR CORP     907.39935
4              2018.0     AAR CORP    1363.99164

In [11]:
AAR_df.to_excel("modified.xlsx")