In [1]:
import pandas as pd
df = pd.read_csv('survey_results_public.csv')
schema_df = pd.read_csv('survey_results_schema.csv')

In [2]:
pd.set_option('display.max_columns',85)
pd.set_option('display.max_rows',85)

In [3]:
df.head()
df.tail()
df.shape        # (rows, cols)
df['Hobbyist']  # show columms
df['Hobbyist'].value_counts()  # count how many 'yes', 'no's
df.loc[0,'Hobbyist']           # get 0 row, 'Hob...' col
df.loc[0:2, 'Hobbyist':'Employment']        # slicing

,Hobbyist,OpenSourcer,OpenSource,Employment
0,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work"
1,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work"
2,Yes,Never,The quality of OSS and closed source software ...,Employed full-time

In [4]:
df.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource',
       'Employment', 'Country', 'Student', 'EdLevel', 'UndergradMajor',
       'EduOther', 'OrgSize', 'DevType', 'YearsCode', 'Age1stCode',
       'YearsCodePro', 'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney',
       'MgrWant', 'JobSeek', 'LastHireDate', 'LastInt', 'FizzBuzz',
       'JobFactors', 'ResumeUpdate', 'CurrencySymbol', 'CurrencyDesc',
       'CompTotal', 'CompFreq', 'ConvertedComp', 'WorkWeekHrs', 'WorkPlan',
       'WorkChallenge', 'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev',
       'CodeRevHrs', 'UnitTests', 'PurchaseHow', 'PurchaseWhat',
       'LanguageWorkedWith', 'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

In [5]:
#schema_df.columns
df = pd.read_csv('survey_results_public.csv', index_col='Respondent')
schema_df = pd.read_csv('survey_results_schema.csv', index_col='Column')
schema_df.head(3)

                                                 QuestionText
Column
Respondent  Randomized respondent ID number (not in order ...
MainBranch  Which of the following options best describes ...
Hobbyist                              Do you code as a hobby?

In [6]:
schema_df.loc['MgrIdiot', 'QuestionText']   # I dont' need to search which index, but use a col as key

'How confident are you that your manager knows what theyâ€™re doing?'

In [7]:
schema_df.sort_index(ascending=False).head(3)  # inplace = True

                                                   QuestionText
Column
YearsCodePro  How many years have you coded professionally (...
YearsCode     Including any education, how many years have y...
WorkWeekHrs    On average, how many hours per week do you work?

In [8]:
# filt multiple countries
countries = ['United States', 'Germany',  'India']
filt = df['Country'].isin(countries)

# filt salary
high_salary = (df['ConvertedComp'] > 700000) & filt

# Use loc, 1st item put mask... 2nd item put to show
df.loc[high_salary, ['Country', 'ConvertedComp']]  # use loc, could add row, col. Use  [], could only get 1

                  Country  ConvertedComp
Respondent
32          United States      1100000.0
58          United States      2000000.0
102         United States      2000000.0
155               Germany       962424.0
157         United States       960000.0
...                   ...            ...
88815       United States      2000000.0
88818       United States      2000000.0
88868             Germany       797436.0
88874       United States      2000000.0
88877       United States      2000000.0

[1449 rows x 2 columns]

In [9]:
# filter width
df['LanguageWorkedWith']

Respondent
1                          HTML/CSS;Java;JavaScript;Python
2                                      C++;HTML/CSS;Python
3                                                 HTML/CSS
4                                      C;C++;C#;Python;SQL
5              C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA
                               ...
88377                        HTML/CSS;JavaScript;Other(s):
88601                                                  NaN
88802                                                  NaN
88816                                                  NaN
88863    Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...
Name: LanguageWorkedWith, Length: 88883, dtype: object

In [10]:

#df = pd.read_csv('survey_results_public.csv')

In [11]:

# Filter "python" in Language
filt = df['LanguageWorkedWith'].str.contains('Python', na=False)  # na=False, don't want Nan
# schema_df = pd.read_csv('survey_results_schema.csv', index_col='Column')
df.loc[filt, 'LanguageWorkedWith']

Respondent
1                          HTML/CSS;Java;JavaScript;Python
2                                      C++;HTML/CSS;Python
4                                      C;C++;C#;Python;SQL
5              C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA
8        Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...
                               ...
84539    Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...
85738      Bash/Shell/PowerShell;C++;Python;Ruby;Other(s):
86566      Bash/Shell/PowerShell;HTML/CSS;Python;Other(s):
87739             C;C++;HTML/CSS;JavaScript;PHP;Python;SQL
88212                           HTML/CSS;JavaScript;Python
Name: LanguageWorkedWith, Length: 36443, dtype: object